/*header section*/
header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    background-color: gray;
    z-index: 1000;
    position: relative;
}
/*nav section*/

nav a 
{
    text-decoration: none;

}

nav a:hover 
{ color: #fff;
 
}
   /*main section*/
   main 
   {
    
    height: 1000px;
    background-image: url("assets-images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    top:-50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

   }

   main div h1, p
   {
      color: rgb(184, 177, 177);
      text-align: center;
  
   }


    
    #button 
     {
        color: #f02e2e;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: opacity 0.3s ease
        
        
        
     }

    main section
     {
        display: flex;
        align-items:center;
        flex-direction: column;

    }
   
body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
}

/*what we do section*/ 


.what-we-do 
{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.what-we-do 





/* Mobile version styles */
@media (max-width: 480px) {
    /* Add mobile-specific styles here */
}

/* Desktop version styles */
@media (min-width: 481px) {
    /* Add desktop-specific styles here */
}

/* Common styles for both versions */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Links styles */
a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}



button:hover,
button:active {
    opacity: var(--button-hover-opacity);
}